.privacy-section {
  padding: 60px 0;
  background: #fafafa;

  .title {
    font-size: 3rem;
    font-weight: 700;
    color: #b9933b;
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
  }
  .container {
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  .title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background: linear-gradient(90deg, #25d366, #4d7a28);
    border-radius: 2px;
  }

  .intro {
    text-align: center;
    max-width: 800px;
    margin: auto;
    font-size: 16px;
    color: #555;
    margin-bottom: 40px;
  }

  .policy-block {
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

    h2 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #1b4f72;
    }

    h3 {
      font-size: 18px;
      font-weight: 600;
      margin-top: 15px;
      color: #145a86;
    }

    ul {
      margin: 10px 0 15px 20px;

      li {
        line-height: 1.7;
      }
    }

    p {
      line-height: 1.8;
      color: #444;
    }
  }

  .social-icons {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin: 15px 0;

    .icon {
      padding: 10px 18px;
      border-radius: 8px;
      font-weight: 600;
      color: white;
      font-size: 14px;
      cursor: pointer;
      transition: 0.3s ease;

      // &.youtube {
      //   background: #ff0000;
      // }

      // &.facebook {
      //   background: #1877f2;
      // }

      // &.instagram {
      //   background: #e1306c;
      // }

      // &.tiktok {
      //   background: #000;
      // }

      // &.email {
      //   background: #6c5ce7;
      // }

      // &.whatsapp {
      //   background: #25d366;
      // }

      &:hover {
        opacity: 0.8;
        transform: translateY(-3px);
      }
    }
  }
}
