<!-- Hero Section -->
<section class="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-headline" id="hero-headline">Iqraa Institute</h1>
      <h2 class="hero-subheadline" id="hero-subheadline">
        Empowering Muslims Worldwide to Learn, Read, and Memorize the Quran.
      </h2>
      <p class="hero-description" id="hero-description">
        At Iqraa Institute, we help Muslims Arabs and non-Arabs alike learn the
        Quran with Tajweed and understand Islamic principles through interactive
        online classes Led by certified Quran teachers with vast experience in
        teaching non-Arabic speakers and young learners.
      </p>
      <div class="hero-buttons">
        <button class="btn btn-primary">
          <span id="hero-button-1">About Us</span>
        </button>
        <button class="btn btn-secondary" (click)="goToWhatsapp()">
          <span id="hero-button-2">Get a Free Trial</span>
        </button>
      </div>
    </div>
  </div>
</section>
