<!-- Navigation Bar -->
<nav>
  <div class="nav-container">
    <div class="logo">
      <a routerLink="home" class="logo-icon">
        <img src="./assets/images/shared/logos.png" width="80" alt="logos" />
      </a>
      <!-- <span class="logo-text-en">Aqraa Institute</span>
      <span class="logo-text-ar hidden">معهد اقرأ</span> -->
    </div>
    <div class="nav-right">
      <!-- Mobile Menu Button -->

      <ul class="nav-center">
        <li>
          <a routerLinkActive="active" routerLink="home" class="nav-link-en"
            >Home</a
          >
        </li>
        <li>
          <a routerLinkActive="active" routerLink="about" class="nav-link-en"
            >About</a
          >
        </li>
        <li>
          <a routerLinkActive="active" routerLink="courses" class="nav-link-en"
            >Courses</a
          >
        </li>
        <li>
          <a routerLinkActive="active" routerLink="pricing" class="nav-link-en"
            >Pricing</a
          >
        </li>
        <li>
          <a routerLinkActive="active" routerLink="blogs" class="nav-link-en"
            >Blogs</a
          >
        </li>
        <li>
          <a routerLinkActive="active" routerLink="recorded" class="nav-link-en"
            >Recorded Classes</a
          >
        </li>
        <li>
          <a routerLinkActive="active" routerLink="team" class="nav-link-en"
            >Team</a
          >
        </li>
        <li>
          <a routerLinkActive="active" href="#testimonials" class="nav-link-en"
            >Testimonials</a
          >
        </li>
        <li>
          <a routerLinkActive="active" routerLink="contact" class="nav-link-en"
            >Contact</a
          >
        </li>
      </ul>
      <!-- <button class="toggle-btn" id="langToggle" onclick="toggleLanguage()">
          <span class="lang-icon">🌐</span>
          <span class="lang-text-en">العربية</span>
          <span class="lang-text-ar hidden">English</span>
        </button>
        <button class="toggle-btn" id="themeToggle" onclick="toggleTheme()">
          <span class="theme-icon">🌙</span>
          <span class="theme-text-en">Dark</span>
          <span class="theme-text-ar hidden">داكن</span>
        </button> -->
    </div>
    <div class="control-menu">
      <button class="mobile-menu-btn md:hidden" (click)="toggleMenu()">
        ☰ Menu
      </button>
      <a
        class="nav-cta"
        href="https://wa.me/201002858839?text=السلام%20عليكم%20%0Aأريد%20حجز%20الحصة%20التجريبية%20الأولى%20المجانية%20لتحفيظ%20القرآن%20الكريم.%0Aشكرًا%20جزيلًا."
        target="_blank"
      >
        <span class="cta-text-en"> Free Trial</span>
      </a>
    </div>
  </div>
</nav>
