<div class="main">
  <app-navbar></app-navbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>

  <!-- Fixed WhatsApp button-->
  <a (click)="goToWhatsapp()" class="whatsapp-float" aria-label="WhatsApp Chat">
    <i class="fab fa-whatsapp"></i>
  </a>

  <!-- Scroll to Top button -->
  <button
    class="scroll-top"
    (click)="scrollToTop()"
    [class.show]="showScrollTop"
    aria-label="Scroll to Top"
  >
    <i class="fa-solid fa-angle-double-up"></i>
  </button>
</div>
