.why-choose-us {
  padding: 5rem 5%;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s ease;
}
.section-container {
  max-width: 1400px;
  margin: 0 auto;
}
.accordion-section {
  padding-top: 50px;
}
.section-title {
  font-size: 3rem;
  font-weight: 700;
  color: #b9933b;

  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, #25d366, #4d7a28);
  border-radius: 2px;
}

.accordion {
  max-width: 700px;
  margin: auto;
  text-align: right;
}

.accordion-item {
  // background: #f9f9fc;
  background: radial-gradient(circle at top, #fffdf7, #f5f0e0);

  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: all 0.4s ease;
}

.accordion-item:hover {
  transform: scale(1.01);
}

.accordion-header {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: right;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 15px 20px;
  // color: #12664f;
  cursor: pointer;
  position: relative;
  transition: background 0.3s;
}

.accordion-header::after {
  content: "›";
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  transition: transform 0.3s;
}

.accordion-item.active .accordion-header::after {
  transform: translateY(-50%) rotate(270deg);
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  color: #333;
  line-height: 1.8;
  background: #f9fdfb;
  transition: max-height 0.5s ease, padding 0.3s ease;
}

.accordion-item.active .accordion-body {
  max-height: 150px;
  padding: 10px 20px 20px;
}

.why-container {
  display: flex;
}

// Button Book
.btn-animated {
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #5e9331, #25d366);
  color: #fff;
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-top: 80px;

  // floating animation
  animation: float 3s ease-in-out infinite;
}

.btn-animated span {
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease;
}

.btn-animated::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s;
}

.btn-animated:hover::before {
  width: 300px;
  height: 300px;
}

.btn-animated:hover span {
  transform: scale(1.05);
}

// Floating keyframes
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

// Statistics
.statistics {
  background: url("../../../../../assets/images/statistics.png") no-repeat
    center center;
  background-size: cover;
  padding: 80px 0;
  color: #fff;

  .stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;

    .stat-item {
      text-align: center;
      margin: 20px;

      .counter {
        font-size: 3rem;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;
      }

      p {
        font-size: 1.2rem;
        margin-top: 10px;
        color: #fff;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .why-container {
    display: block;
    .image-section {
      display: flex;
      justify-content: center;
    }
  }
}
@media (max-width: 768px) {
  .why-container {
    display: block;
  }
  .section-title {
    font-size: 2.2rem;
  }

  .btn-animated {
    margin-top: 50px;
  }
  .stats-container {
    flex-direction: column;
  }
}
