<!-- Footer -->
<footer id="contact">
  <div class="footer-container">
    <div class="footer-main">
      <div class="footer-section">
        <h3>
          <img src="./assets/images/shared/logos.png" width="80" alt="logos" />
          <div>
            <span class="footer-title-en">Iqraa Institute</span>
            <span class="footer-title-ar hidden">معهد اقرأ</span>
          </div>
        </h3>
        <p>
          <span id="footer-description-en">
            Dedicated to delivering excellence in Quranic education for Arabs
            and non-Arabs, through qualified teachers, authentic methodologies,
            and a nurturing environment that inspires the memorization of the
            Qur’an, mastery of Tajweed, and the study of Islamic sciences.
          </span>
          <span id="footer-description-ar" class="hidden">
            نسعى لتقديم التميز في تعليم القرآن الكريم للعرب وغير العرب، من خلال
            معلمين مؤهلين، ومناهج أصيلة، وبيئة تعليمية محفزة تُلهم حفظ القرآن
            الكريم، وإتقان تجويده، ودراسة المواد الإسلامية.
          </span>
        </p>

        <div class="social-links">
          <a
            href="https://www.facebook.com/share/1BGhPKnjbH/?mibextid=wwXIfr"
            target="_blank"
            rel="noopener noreferrer"
            class="social-icon facebook"
            aria-label="Facebook"
          >
            <i class="fab fa-facebook-f"></i>
          </a>

          <a
            href="https://www.youtube.com/@Iqraa.Institute55"
            target="_blank"
            rel="noopener noreferrer"
            class="social-icon youtube"
            aria-label="YouTube"
          >
            <i class="fab fa-youtube"></i>
          </a>

          <a
            href="https://www.tiktok.com/@iqraa.institute7?_r=1&_t=ZS-917ZURk2LHc"
            target="_blank"
            rel="noopener noreferrer"
            class="social-icon tiktok"
            aria-label="TikTok"
          >
            <i class="fab fa-tiktok"></i>
          </a>
          <a
            href="https://www.instagram.com/iqraa_institute55?igsh=OTlkOGJxdDJ3ZWx0"
            target="_blank"
            rel="noopener noreferrer"
            class="social-icon instagram"
            aria-label="Instagram"
          >
            <i class="fab fa-instagram"></i>
          </a>

          <a
            href="https://mail.google.com/mail/?view=cm&fs=1&to=iqraaacademy55@gmail.com"
            target="_blank"
            class="social-icon email"
            aria-label="Email"
          >
            <i class="fas fa-envelope"></i>
          </a>

          <a
            href="https://wa.me/+201002858839?text=السلام%20عليكم،%20أرغب%20بحجز%20موعد%20مع%20معلم%20لتحفيظ%20القرآن%20الكريم."
            target="_blank"
            rel="noopener noreferrer"
            class="social-icon whatsapp"
            aria-label="WhatsApp"
          >
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
      </div>
      <div class="footer-section">
        <h3>
          <span class="footer-links-title-en">Quick Links</span>
        </h3>
        <ul class="footer-links flex gap-10">
          <div>
            <li>
              <a routerLink="home" class="nav-link-en">Home</a>
            </li>
            <li>
              <a routerLink="about" class="nav-link-en">About</a>
            </li>
            <li>
              <a routerLink="courses" class="nav-link-en">Courses</a>
            </li>
            <li>
              <a routerLink="pricing" class="nav-link-en">Pricing</a>
            </li>
            <li>
              <a routerLink="blogs" class="nav-link-en">Blogs</a>
            </li>
            <li>
              <a routerLink="team" class="nav-link-en">Team</a>
            </li>
          </div>
          <div>
            <li>
              <a routerLink="recorded" class="nav-link-en">Recorded Classes</a>
            </li>
            <li>
              <a href="#testimonials" class="nav-link-en">Testimonials</a>
            </li>
            <li>
              <a routerLink="contact" class="nav-link-en">Contact</a>
            </li>
          </div>
        </ul>
      </div>
      <div class="footer-section">
        <h3>
          <span class="footer-contact-title-en">Contact Info</span>
        </h3>
        <div class="contact-item">
          <span class="contact-icon">
            <i class="fa-solid fa-location-dot text-xl text-lime-50"></i>
          </span>
          <span>
            <!-- الفرع الأول: القاهرة -->
            <strong>
              <span class="branch-en"> Cairo, Egypt</span>
              <span class="branch-ar hidden">فرع القاهرة:</span>
            </strong>
          </span>
        </div>

        <div class="contact-item">
          <span class="contact-icon">
            <i class="fa-solid fa-location-dot text-xl text-lime-50"></i>
          </span>
          <span>
            <!-- الفرع الثاني: الإسكندرية -->
            <strong>
              <span class="branch-en"> Alexandria, Egypt</span>
              <span class="branch-ar hidden">فرع الإسكندرية:</span>
            </strong>
          </span>
        </div>

        <div class="contact-item">
          <span class="contact-icon"
            ><i class="fas fa-envelope text-xl text-lime-50"></i
          ></span>
          <a
            id="contact-email"
            [href]="'https://mail.google.com/mail/?view=cm&fs=1&to=' + email"
            target="_blank"
            >{{ email }}</a
          >
        </div>
        <div class="contact-item">
          <span class="contact-icon"
            ><i class="fa-solid fa-phone text-xl text-lime-50"></i
          ></span>
          <span id="contact-phone">+201002858839</span>
        </div>
      </div>
      <div class="footer-section">
        <h3>
          <span class="footer-hours-title-en">Office Hours</span>
          <span class="footer-hours-title-ar hidden">ساعات العمل</span>
        </h3>

        <div class="office-hours-grid flex gap-8">
          <div>
            <!-- السبت -->
            <div class="day">
              <strong>
                <span class="day-en">Saturday:</span>
                <span class="day-ar hidden">السبت:</span>
              </strong>
              <br />
              <span class="time-en">24 Hours</span>
              <span class="time-ar hidden">24 ساعة</span>
            </div>

            <!-- الأحد -->
            <div class="day">
              <strong>
                <span class="day-en">Sunday:</span>
                <span class="day-ar hidden">الأحد:</span>
              </strong>
              <br />
              <span class="time-en">24 Hours</span>
              <span class="time-ar hidden">24 ساعة</span>
            </div>

            <!-- الاثنين -->
            <div class="day">
              <strong>
                <span class="day-en">Monday:</span>
                <span class="day-ar hidden">الاثنين:</span>
              </strong>
              <br />
              <span class="time-en">24 Hours</span>
              <span class="time-ar hidden">24 ساعة</span>
            </div>
          </div>
          <div>
            <!-- الثلاثاء -->
            <div class="day">
              <strong>
                <span class="day-en">Tuesday:</span>
                <span class="day-ar hidden">الثلاثاء:</span>
              </strong>
              <br />
              <span class="time-en">24 Hours</span>
              <span class="time-ar hidden">24 ساعة</span>
            </div>

            <!-- الأربعاء -->
            <div class="day">
              <strong>
                <span class="day-en">Wednesday:</span>
                <span class="day-ar hidden">الأربعاء:</span>
              </strong>
              <br />
              <span class="time-en">24 Hours</span>
              <span class="time-ar hidden">24 ساعة</span>
            </div>

            <!-- الخميس -->
            <div class="day">
              <strong>
                <span class="day-en">Thursday:</span>
                <span class="day-ar hidden">الخميس:</span>
              </strong>
              <br />
              <span class="time-en">24 Hours</span>
              <span class="time-ar hidden">24 ساعة</span>
            </div>
            <!-- الجمعة -->
            <div class="day">
              <strong>
                <span class="day-en">Friday:</span>
                <span class="day-ar hidden">الجمعة:</span>
              </strong>
              <br />
              <span class="time-en">Closed</span>
              <span class="time-ar hidden">مغلق</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>
        <span class="copyright-en"
          >© 2025 Iqraa Institute. All rights reserved.</span
        >
      </p>
      <ul class="footer-legal">
        <li>
          <a href="#terms"
            ><span class="legal1-en">Terms &amp; Conditions</span>
          </a>
        </li>
        <li>
          <a routerLink="privacy"
            ><span class="legal2-en">Privacy Policy</span></a
          >
        </li>
        <!-- <li>
          <a href="#usage"
            ><span class="legal3-en">Usage Policy</span
            ><span class="legal3-ar hidden">سياسة الاستخدام</span></a
          >
        </li> -->
      </ul>
    </div>
  </div>
</footer>
